{% extends '::admin.html.twig' %}

{% block content %}
    <div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">Danh mục bài viết</h4>
            </div>
            <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                <a href="{{ path('amz_post_category_create') }}"
                   class="btn btn-danger pull-right m-l-20 btn-rounded btn-outline hidden-xs hidden-sm waves-effect waves-light">Tạo
                    mới</a>
                <ol class="breadcrumb">
                    <li><a href="{{ path('amz_dashboard') }}">Dashboard</a></li>
                    <li class="active">Danh mục bài viết</li>
                </ol>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <form action="" method="get">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="white-box">
                        <div class="row">
                            <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <input name="admin_keyword" value="{% if parameters['admin_keyword'] is defined %}{{ parameters['admin_keyword'] }}{% endif %}"
                                           type="text" placeholder="từ khóa..." class="form-control"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 col-lg-2 col-sm-6 col-xs-12">
                                <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Filter
                                </button>
                                <button onclick="window.location.href='{{ path('amz_post_category_homepage') }}'" type="button" class="btn btn-inverse waves-effect waves-light m-r-10">Reset
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="white-box">
                    {#{% for flash_message in app.session.flashbag.get('notice') %}#}
                        {#<div class="alert alert-success">#}
                            {#{{ flash_message }}#}
                        {#</div>#}
                    {#{% endfor %}#}
                    {% for flash_message in app.session.flashbag.get('error') %}
                        <div class="alert alert-danger">
                            {{ flash_message }}
                        </div>
                    {% endfor %}
                    <div class="table-responsive">
                        <table class="table product-overview">
                            <thead>
                            <tr>
                                <th width="60%">Tiêu đề</th>
                                <th>Category cha</th>
                                <th width="70">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for entity in pagination %}
                                <tr>
                                    <td>
                                        <div><a href="{{ path('amz_post_list_by_cat', {'catID':entity.id}) }}">{{ entity.title|raw }}</a></div>
                                    </td>

                                    <td>
                                        {% if entity.parent is not empty %}
                                            <a href="{{ path('amz_post_category_edit', {'id': entity.parent.id}) }}">{{ entity.parent.title }}</a>
                                        {% else %}
                                            Root
                                        {% endif %}
                                    </td>


                                    <td>
                                        <a href="{{ path('amz_post_category_edit', {'id': entity.id}) }}"
                                           class="text-inverse p-r-10"
                                           data-toggle="tooltip" title="Edit"><i class="ti-marker-alt"></i></a> <a
                                                href="{{ path('amz_post_category_delete', {'id': entity.id}) }}"
                                                class="text-inverse p-r-10" title="Delete"
                                                onclick="return confirm('Are you sure ?');"
                                                data-toggle="tooltip"><i class="ti-trash"></i></a></td>

                                </tr>
                                {% set childLevel1 = entity.children %}
                                {% if childLevel1 is not empty %}
                                    {% for child1 in childLevel1 %}
                                        <tr>
                                            <td>
                                                <div style="padding-left:20px"><a href="{{ path('amz_post_list_by_cat', {'catID':child1.id}) }}">-- {{ child1.title|raw }}</a></div>
                                            </td>

                                            <td>
                                                {% if child1.parent is not empty %}
                                                    <a href="{{ path('amz_post_category_edit', {'id': child1.parent.id}) }}">{{ child1.parent.title }}</a>
                                                {% else %}
                                                    Root
                                                {% endif %}
                                            </td>
                                            <td>
                                                <a href="{{ path('amz_post_category_edit', {'id': child1.id}) }}"
                                                   class="text-inverse p-r-10"
                                                   data-toggle="tooltip" title="Edit"><i class="ti-marker-alt"></i></a> <a
                                                        href="{{ path('amz_post_category_delete', {'id': child1.id}) }}"
                                                        class="text-inverse p-r-10" title="Delete"
                                                        onclick="return confirm('Are you sure ?');"
                                                        data-toggle="tooltip"><i class="ti-trash"></i></a></td>

                                        </tr>
                                        {% set childLevel2 = child1.children %}
                                        {% if childLevel2 is not empty %}
                                            {% for child2 in childLevel2 %}
                                                <tr>
                                                    <td>
                                                        <div style="padding-left:40px"><a href="{{ path('amz_post_list_by_cat', {'catID':child2.id}) }}">---- {{ child2.title|raw }}</a></div>
                                                    </td>

                                                    <td>
                                                        {% if child2.parent is not empty %}
                                                            <a href="{{ path('amz_post_category_edit', {'id': child2.parent.id}) }}">{{ child2.parent.title }}</a>
                                                        {% else %}
                                                            Root
                                                        {% endif %}
                                                    </td>


                                                    <td>
                                                        <a href="{{ path('amz_post_category_edit', {'id': child2.id}) }}"
                                                           class="text-inverse p-r-10"
                                                           data-toggle="tooltip" title="Edit"><i class="ti-marker-alt"></i></a> <a
                                                                href="{{ path('amz_post_category_delete', {'id': child2.id}) }}"
                                                                class="text-inverse p-r-10" title="Delete"
                                                                onclick="return confirm('Are you sure ?');"
                                                                data-toggle="tooltip"><i class="ti-trash"></i></a></td>

                                                </tr>
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="amz_pagination_wrapper">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}