{% extends '::admin.html.twig' %}

{% block content %}
    <div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">Tag</h4>
            </div>
            <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                <ol class="breadcrumb">
                    <li><a href="{{ path('amz_dashboard') }}">Dashboard</a></li>
                    <li><a href="{{ path('amz_post_tag_homepage') }}">Danh mục bài viết</a></li>
                    <li class="active">Chỉnh sửa</li>
                </ol>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <form action="" method="post">
            <div class="row">
                <div class="col-sm-12 col-xs-12 m-b-15">
                    <button class="btn btn-success waves-effect waves-light m-r-10" type="submit">Lưu</button>
                    <button class="btn btn-inverse waves-effect waves-light" type="button" onclick="window.location.href = '{{ path('amz_post_tag_homepage') }}'">Hủy</button>
                </div>
                {{ include('AMZPostBundle:Tag:form.html.twig') }}
                <div class="col-sm-12 col-xs-12">
                    <button class="btn btn-success waves-effect waves-light m-r-10" type="submit">Lưu</button>
                    <button class="btn btn-inverse waves-effect waves-light" type="button" onclick="window.location.href = '{{ path('amz_post_tag_homepage') }}'">Hủy</button>
                </div>
            </div>
            {{ form_rest(form) }}
        </form>
        <!-- row -->
    </div>
{% endblock %}

{% block theme_js_files %}
    <script>
        $(document).ready(function () {
            {% if entity.seo.facebookThumbnail is not empty %}
            $('.facebook-thumbnail-img').attr('src', '{{ entity.seo.facebookThumbnail }}');
            {% endif %}
        });
    </script>
{% endblock %}