<div class="col-lg-12 col-md-21 col-sm-6 col-xs-12">
    <div class="white-box">
        <div class="row">
            <div class="col-sm-4 col-xs-12">
                <div class="form-group">
                    <label for="post_lang1_title1">Tiêu đề <span class="required-field">*</span></label>
                    {{ form_widget(form.name) }}
                    <div class="amz-error">
                        {{ form_errors(form.name) }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="post_lang1_slug">Slug <span class="required-field">*</span></label>
                    {{ form_widget(form.slug) }}
                    <div class="amz-error">
                        {{ form_errors(form.slug) }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="post_lang1_isFeatured">Nổi bật</label>
                    {{ form_widget(form.isFeatured) }}
                    <div class="amz-error">
                        {{ form_errors(form.isFeatured) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ include('AMZBackendBundle:Default:seo.html.twig') }}