{% extends '::frontend.html.twig' %}
{% block body %}
    <section id="nuti-medical">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3 class="heading">Thống kê</h3>
                </div>
                <form id="statistics_class_form" action="{{ url('application_statistic_index') }}" method="post">
                    <input type="hidden" class="data-url-change-city" value="{{ path('application_statistic_change_city') }}" />
                    <input type="hidden" class="data-url-change-district" value="{{ path('application_statistic_change_district') }}" />
                    <input type="hidden" class="data-url-change-year" value="{{ path('application_statistic_change_year') }}" />
                    <input type="hidden" class="data-url-class-export" value="{{ path('application_statistic_export') }}" />
                    <div class="col-xs-12">
                        <div class="nuti-statistic">
                            <!-- Nav tabs -->
                            {{ include('@App/Statistics/_header.html.twig', {'activeMenu': 'class'}) }}
                            <!-- Tab panes -->

                            <div class="tab-pane mb-30 mt-30">
                                <div class="input-1">
                                    <select name="city" class="chosen statistic-city" data-placeholder="Tỉnh thành" style="width:100%;"
                                            tabindex="1">
                                        <option value=""></option>
                                        {% for item, districts in cities %}
                                            <option value="{{ item }}">{{ item }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="input-2">
                                    <select name="district" class="chosen statistic-district" data-placeholder="Quận" style="width:100%;" tabindex="1">
                                        <option value=""></option>
                                    </select>
                                </div>
                                <div class="input-3">
                                    <select name="school" class="chosen statistic-school" data-placeholder="Trường" style="width:100%;" tabindex="1">
                                        <option value=""></option>
                                    </select>
                                </div>
                                <div class="input-6" style="margin-right: 1%">
                                    <select name="year" class="chosen statistic-year" data-placeholder="Năm học" style="width:100%;" tabindex="1">
                                        <option value=""></option>
                                        {% set schoolYears = get_school_years() %}
                                        {% for item in schoolYears %}
                                            <option value="{{ item.id }}">{{ item.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="input-4">
                                    <select name="class" class="chosen statistic-class" data-placeholder="Lớp" style="width:100%;" tabindex="1">
                                        <option value=""></option>
                                    </select>
                                </div>
                                <div class="input-5" style="margin-right: 0;">
                                    <select name="month" class="chosen" data-placeholder="Tháng" style="width:100%;" tabindex="1">
                                        <option value=""></option>
                                        {% for i in 1..12 %}
                                            <option value="{{ i }}">Tháng {{ i }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 text-center">
                        <a href="#" id="btn_load_statistic">
                            <button class="nuti-button view-statistic-btn for-class white" type="button">
                                <i class="fa fa-spin fa-spinner" style="display: none"></i>
                                Xem thống kê
                            </button>
                        </a>
                        <a href="#" id="btn_export_statistic">
                            <button class="nuti-button export-statistic-btn for-class white" type="button">
                                Xuất thống kê
                            </button>
                        </a>
                    </div>

                </form>
            </div>

            <div class="row" id="statistic_result"></div>
        </div>
    </section>
{% endblock %}