{% extends '::frontend.html.twig' %}
{% block body %}
    <section id="nuti-nutritional-status">
        <div class="personal-detail-info">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
                        <ul class="age-menu">
                            <li class="{% if category == 1 %}current{% endif %}"><a href="{{ path('application_user_profile_0_5') }}">Từ 0-5 tuổi</a></li>
                            <li class="{% if category == 2 %}current{% endif %}"><a href="{{ path('application_user_profile_5_19') }}">Từ 5-19 tuổi</a></li>
                            <li class="{% if category == 3 %}current{% endif %}"><a href="{{ path('application_user_profile_over_19') }}">Trên 19 tuổi</a></li>
                        </ul>

                        <div class="kid-img">
                            <figure>
                                <img class="img-responsive" src="{{ asset('frontend/images/kid-1.jpg') }}">
                            </figure>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-7 col-lg-8">
                        <div class="alert alert-danger save-error" role="alert" style="display: none;">
                            <strong>Lỗi!</strong> <span class="error-msg"></span>
                        </div>
                        <div class="alert alert-success save-success" role="alert" style="display: none;">
                            <strong>Lưu thành công!</strong>
                        </div>
                        <div class="tab">
                            <div id="tab-1" class="nutrition-menu-content">
                                <h3 class="heading">Kết quả đánh giá tình trạng dinh dưỡng
                                    <a href="{{ path('application_user_profile_result_print') }}" target="_blank"><i class="icon print-icon"></i></a>
                                </h3>
                                {% if isValidAge %}
                                    {% if result.result %}
                                        <form class="pro5-form">
                                            <div class="pro5-avatar">
                                                <div class=" {% if category == 1 %}orange{% elseif category==2 %}pink {% else %}yellow{% endif %}">
                                                    <a href="#"><i class="icon camera-icon"></i></a>
                                                    {% if category == 1 %}
                                                        <div class="pro5-ava" style="background-image: url('{{ asset('frontend/images/ava01.png') }}')"></div>
                                                    {% elseif category == 2 %}
                                                        <div class="pro5-ava" style="background-image: url('{{ asset('frontend/images/ava02.png') }}')"></div>
                                                    {% else %}
                                                        <div class="pro5-ava" style="background-image: url('{{ asset('frontend/images/ava03.png') }}')"></div>
                                                    {% endif %}
                                                    <h4 class="pro5-name desc">{% if result.fullName %}{{ result.fullName }}{% endif %}</h4>
                                                </div>
                                            </div>
                                            <div class="pro5-info">
                                                <div>
                                                    <p>Họ và Tên</p>

                                                    <p>{% if result.fullName %}{{ result.fullName|upper }}{% endif %}</p>
                                                </div>
                                                <div>
                                                    <p>Giới tính</p>

                                                    <p>{% if (result.gender) and (result.gender==1) %}Nam{% else %}Nữ{% endif %}</p>
                                                </div>
                                                <div>
                                                    <p>Ngày sinh</p>

                                                    <p>{% if result.birthday %}{{ result.birthday }}{% endif %}</p>
                                                </div>
                                                <div>
                                                    <p>Tuổi</p>
                                                    {% set month = result.month %}
                                                    {% set yearOld = month // 12 %}
                                                    {% set monthOld = month % 12 %}
                                                    <p>
                                                        {% if yearOld > 0 %}
                                                            {{ yearOld }} tuổi
                                                        {% endif %}
                                                        {% if yearOld < 19 and monthOld > 0 %}
                                                            {{ monthOld }} tháng
                                                        {% endif %}
                                                        {#{% if month %}{{ month }}{% endif %}#}
                                                    </p>

                                                    {#<p>{% if result.month %}{{ result.month }}{% endif %}</p>#}
                                                </div>
                                                <div>
                                                    <p>Cân nặng</p>

                                                    <p>{% if result.weight %}{{ result.weight }}{% endif %} kg<br>
                                                    {% if category != 3 %}
                                                        <span>Chuẩn cân nặng trung bình theo tuổi:
                                                            {% if result.bmi %}{{ result.bmi|round(1, 'floor') }}{% endif %} kg
                                                            [{% if result.bmi_from %}{{ result.bmi_from|round(1, 'floor') }}{% endif %}kg đến {% if result.bmi_to %}{{ result.bmi_to|round(1, 'floor') }}{% endif %} kg]</span></p>
                                                    {% endif %}
                                                </div>
                                                <div>
                                                    <p>Chiều cao</p>

                                                    <p>{% if result.length %}{{ result.length }}{% endif %} cm<br>
                                                        {% if category != 3 %}
                                                        <span>Chuẩn chiều cao trung bình theo tuổi: {% if result.heightMedian %}{{ result.heightMedian }}{% endif %} cm
                                                            [{% if result.height_from %}{{ result.height_from }}{% endif %} cm đến {% if result.height_to %}{{ result.height_to }}{% endif %} cm]</span></p>
                                                        {% endif %}
                                                </div>
                                                <div>
                                                    <p>BMI</p>
                                                    <p>{{ calculatedBmi }}</p>
                                                </div>
                                            </div>
                                            {% if app.user %}
                                                <p href="#" class="view-history">
                                                    Bạn hãy truy cập vào <a href="{{ url('application_profile_index') }}">trang cá nhân</a> để có thể lưu lại lịch sử cân đo.</p>

                                            {% else %}
                                                Bạn hãy đăng nhập để có thể lưu lại lịch sử cân đo.</p>
                                            {% endif %}
                                        </form>

                                        <div class="pro5-result">
                                            <div>
                                                <p>Đánh giá chung</p>
                                            </div>
                                            <div>
                                                <div class="result">
                                                    <p>{% if result.result %}{{ result.result }}{% endif %}</p>

                                                    <p>{% if result.resultValue %}{{ result.resultValue }}{% endif %}</p>
                                                </div>
                                            </div>
                                        </div>

                                        <h4 class="small-title">Khuyến nghị</h4>

                                        <div class="nuti-recommendations">
                                            {% if result.recommend %}{{ result.recommend|raw }}{% endif %}
                                            {#<br><br>Hãy gọi số <b>(08) 38 255 777</b> để cùng Chuyên gia dinh dưỡng chăm sóc tốt nhất cho gia đình.#}
                                        </div>

                                        {% if is_granted('ROLE_DOCTOR') %}
                                            <div class="nuti-advice">
                                                <div class="advice-header">
                                                    <p>Lời khuyên từ bác sĩ</p>
                                                </div>
                                                <div class="advice-body">
                                                    <textarea id="doctorAdvice" class="form-control" placeholder="Nhập lời khuyên" rows="4"></textarea>
                                                </div>
                                            </div>

                                            <div class="pro4-action mt-30">
                                                <a href="#"><button class="nuti-button white" type="submit" id="advise-saving" data-id="" data-url="{{ url("application_user_profile_save") }}">Lưu lại</button></a>
                                                {% if category == 1 %}
                                                    <a href="{{ url("application_user_profile_0_5") }}"><button class="nuti-button white" type="button">Quay lại</button></a>
                                                {% elseif category==2 %}
                                                    <a href="{{ url("application_user_profile_5_19") }}"><button class="nuti-button white" type="button">Quay lại</button></a>
                                                {% else %}
                                                    <a href="{{ url("application_user_profile_over_19") }}"><button class="nuti-button white" type="button">Quay lại</button></a>
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                    {% else %}
                                        <div class="alert alert-warning" role="alert">
                                            <div>
                                                Vui lòng xem lại cân nặng và chiều cao.<br>
                                                Bạn hãy gọi đến các Chuyên gia dinh dưỡng qua số <strong>08 38 255 777</strong> để được tư vấn chi tiết.
                                            </div>
                                        </div>
                                    {% endif %}
                                {% else %}
                                    <div class="alert alert-warning" role="alert">
                                        <div>
                                            Vui lòng chọn độ tuổi phù hợp<br>
                                            Bạn hãy gọi đến các Chuyên gia dinh dưỡng qua số <strong>08 38 255 777</strong> để được tư vấn chi tiết.
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}