<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Nuti print</title>
    <style type="text/css">
        body{
            font-family: Arial, sans-serif;
        }
        .nuti-print {
            width: 700px;
            margin: 30px auto;
        }
        figure {
            margin: 0;
        }
        .cf{
            clear: both;
        }
        p {
            font-family: Arial, sans-serif;
            font-size: 12px;
            margin: 0;
            line-height: 20px;
        }
        h1 {
            color: #418c39;
            font-size: 14px;
            font-weight: bold;
            text-transform: uppercase;
            text-align: right;
        }
        h2 {
            font-size: 13px;
            font-weight: bold;
            text-transform: uppercase;
        }
        h5 {
            font-family: Arial, sans-serif;
            font-size: 13px;
            line-height: 30px;
            font-weight: bold;
            text-transform: uppercase;
            margin-top:13px;
            margin-bottom: 3px;
        }
        h2.green {
            color: #418c39;
        }
        h2.red {
            color: #ff0000;
        }
        .print-header {
            display: table;
            width: 100%;
            margin-bottom: 10px;
        }
        .print-header > div {
            display: table-cell;
            vertical-align: middle;
        }
        .print-header > div:first-child {
            width: 30%;
        }
        .print-header > div:nth-child(2) {
            width: 70%;
        }
        .print-info:after, .print-info:before {
            display: table;
            content: " ";
        }
        .print-info:after {
            clear: both;
        }
        .col30, .col40, .col50,.col60, .col70, .col100 {
            float: left;
        }
        .col30 {
            width: 30%;
        }
        .col40{
            width: 40%;
        }
        .col50 {
            width: 50%;
        }
        .col60{
            width: 60%;
        }
        .col70 {
            width: 70%;
            text-align: right;
        }
        .label, .value {
            display: inline-block;
        }
        .label {
            width: 60px;
        }
        .value {
            font-weight: bold;
        }
        .uppercase {
            text-transform: uppercase;
        }
        .print-result {
            display: table;
            width: 100%;
            min-height: 50px;
            border: 2px solid #418c39;
            margin-top: 20px;
        }
        .print-result > div {
            display: table-cell;
            vertical-align: middle;
            padding: 10px 15px;
        }
        .print-result > div:first-child {
            text-align: center;
            border-right: 2px solid #418c39;
        }
        .re-item {
            display: table;
            width: 100%;
            margin-bottom: 15px;
        }
        .re-item > div {
            display: table-cell;
            vertical-align: top;
        }
        .re-num {
            width: 6%;
        }
        .re-num > div {
            width: 32px;
            height: 32px;
            background-color: #418c39;
        }
        .re-num > div p {
            color: #fff;
            font-weight: bold;
            text-align: center;
            line-height: 32px;
        }
        .re-text {
            padding-left: 10px;
        }
        .print-signature {
            float: right;
            text-align: center;
            margin-top: 60px;
        }
        .print-recommendation {
            margin-top: 5px;
            text-align: justify;
            font-family: Arial, sans-serif;
            font-size: 13px;
        }
        .print-name {
            margin: 60px 0;
        }
    </style>
    <style type="text/css">
        @media print {
            #wrapper{
                margin-left: 1.6cm !important;
                padding-right: 1.2cm !important;
            }
            #img_print{max-width: 195px;}
        }

        .chartbmi-5to19{
            min-height: 300px;
            width: 750px;
            margin: auto;
            margin-top: 10px;
        }
        .chartbmi-5to19 .col-left-chart{
            width: 300px;
            height: 300px;
            display: inline-block;
            padding-left:25px;
            position: relative;
        }
        .chartbmi-5to19 .col-right-chart{
            width: 300px;
            padding-left: 50px;
            height: 300px;
            display: inline-block;
            position: relative;
        }
        .chartbmi-5to19 .col-left-chart.lfa_girl_0_2{
            height: 180px;
            width: 300px;
            position: relative;
            margin-bottom: 20px;
            padding-left: 0;
        }
        .chartbmi-5to19 .col-right-chart.lfa_girl_0_2{
            height: 180px;
            width: 300px;
            position: relative;
            margin-bottom: 20px;
            margin-left: 50px;
            padding-left: 0;
        }
        .chartbmi-5to19 .col-left-chart.lfa_boys_0_2{
            height: 180px;
            width: 300px;
            position: relative;
            margin-bottom: 20px;
            padding-left: 0;
        }
        .chartbmi-5to19 .col-right-chart.lfa_boys_0_2{
            height: 180px;
            width: 300px;
            position: relative;
            margin-bottom: 20px;
            margin-left: 50px;
            padding-left: 0;
        }
        .chartbmi-5to19 .col-right-chart{
            width: 300px;
            padding-left: 50px;
            height: 300px;
            display: inline-block;
            margin-left: 30px;
        }
        .chartbmi-5to19 .col-right-chart.lfa_boys_2_5 .title-rightchart,.chartbmi-5to19 .col-right-chart.lfa_girl_2_5 .title-rightchart{
            left: 0 !important;
        }
        .chartbmi-5to19 .col-right-chart.lfa_boys_2_5 .title-rightchart-bottom,.chartbmi-5to19 .col-right-chart.lfa_girl_2_5 .title-rightchart-bottom{
            padding-left: 0 !important;
        }
        .chartbmi-5to19 .col-left-chart.lfa_girl_0_2 .title-leftchart, .chartbmi-5to19 .col-left-chart.lfa_boys_0_2 .title-leftchart{
            left: -52px !important;
        }
    </style>
    <script src="{{ asset('frontend/js/lib/jquery-2.2.3.min.js') }}"></script>
    <script src="{{ asset('frontend/js/lib/chart.js') }}"></script>
</head>
<body>
<div class="nuti-print">
    <div class="print-header">
        <div>
            <figure>
                <img src="{{ asset('frontend/images/nuti-logo.png') }}">
            </figure>
        </div>
        <div>
            <h1>Kết quả đánh giá tình trạng dinh dưỡng</h1>
        </div>
    </div>
    <div class="print-info">
        <div class="col40">
            <p class="label">Họ và tên</p>

            <p class="value uppercase">{{ result.get('fullName') }}</p>
        </div>
        <div class="col60">
            <p class="label">Ngày sinh</p>

            <p class="value">{{ result.get('birthday') }}</p>
        </div>
        <div class="cf"></div>
        <div class="col40">
            <p class="label">Giới tính</p>
            <p class="value">{% if result.get('gender') == 1 %}Nam{% else %}Nữ{% endif %}</p>
        </div>
        <div class="col60">
            <p class="label">Số tháng</p>
            {% set month = result.get('month') %}
            {% set yearOld = month // 12 %}
            {% set monthOld = month % 12 %}
            <p class="value" >
                {% if yearOld > 0 %}
                    {{ yearOld }} tuổi
                {% endif %}
                {% if yearOld < 19 and monthOld > 0 %}
                    {{ monthOld }} tháng
                {% endif %}
                {#{% if month %}{{ month }}{% endif %}#}
            </p>

            {#<p class="value">{{ result.get('month') }}</p>#}
        </div>
        <div class="cf"></div>
        <div class="col40">
            <p class="label">Cân nặng</p>

            <p class="value">{{ result.get('weight') }} kg</p>
        </div>
        <div class="col60">
            <p><em>(
                    {% if result.get('category') == 2 %}
                        Chuẩn cân nặng trung bình
                    {% else %}
                        Chuẩn cân nặng trung bình theo tuổi
                    {% endif %}
                    : {{ result.get('bmi') }} kg [{{ result.get('bmi_from') }}kg đến {{ result.get('bmi_to') }}kg]
                    )</em></p>
        </div>
        <div class="cf"></div>
        <div class="col40">
            <p class="label">Chiều cao</p>

            <p class="value">{{ result.get('length') }} cm</p>
        </div>
        <div class="col60">
            <p><em>(
                    {% if result.get('category') == 2 %}
                    Chuẩn chiều cao trung bình
                {% else %}
                    Chuẩn chiều cao trung bình theo tuổi
                    {% endif %}: {{  result.get('heightMedian') }} cm [{{ result.get('height_from') }}cm đến {{ result.get('height_to') }}cm]
                    )</em></p>
        </div>
        <div class="cf"></div>
    </div>

    <div class="print-result">
        <div>
            <h2 class="green">Đánh giá</h2>
        </div>
        <div>
            <h2 class="red">{{ result.get('result') }}</h2>
        </div>
    </div>

    <h5>Khuyến nghị</h5>

    <div class="print-recommendation">
        {{ result.get('recommend')|raw }}
        {#<br><br>Hãy gọi số <b>(08) 38 255 777</b> để cùng Chuyên gia dinh dưỡng chăm sóc tốt nhất cho gia đình.#}
    </div>
    {% if result.get('category') == 1 %}
        {{ include('AppBundle:UserProfile/chart:0-5.html.twig') }}
    {% elseif result.get('category') == 2 %}
        {{ include('AppBundle:UserProfile/chart:5-19.html.twig') }}
    {% elseif result.get('category') == 3 %}
        {{ include('AppBundle:UserProfile/chart:over-19.html.twig') }}
    {% endif %}
    <br>
    <h5>Lời khuyên</h5>

    <div class="print-recommendation">
        {{ result.get('advise')|raw }}
    </div>
    <div class="print-signature" style="">
        <p class="print-date">
            Ngày {{ "now"|date("d/m/Y") }}
        </p>
        <h5 class="print-name">

        </h5>
    </div>
</div>

</body>
</html>