<!DOCTYPE html>
<html>
<head lang="vi">
    <title>Nâng tầm vóc Việt</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="cleartype" content="on">

    <link href="{{ asset('favicon.ico') }}" rel="shortcut icon" type="image/x-icon">


    <!-- CSS Styles -->
    {% stylesheets
        'frontend/css/lib/normalize.css'
        'frontend/css/lib/jquery-ui.min.css'
        'frontend/css/lib/bootstrap.min.css'
        'frontend/css/lib/font-awesome.min.css'
        'frontend/css/lib/owl.carousel.min.css'
        'frontend/css/lib/owl.theme.default.min.css'
        'frontend/js/lib/datetimepicker/build/jquery.datetimepicker.min.css'
        'frontend/css/main.css'
        'frontend/css/custom.css'
    filter='?uglifycss' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    {% block css_script %}{% endblock %}
</head>
<body>
{{ include(':Frontend:header.html.twig') }}
{% block body %}{% endblock %}
{{ include(':Frontend:footer.html.twig') }}
{{ include(':Frontend:_frontend-pop-up.html.twig') }}

{% javascripts
    'frontend/js/lib/jquery-2.2.3.min.js'
    'frontend/js/lib/jquery-ui.min.js'
    'frontend/js/lib/bootstrap.min.js'
    'frontend/js/lib/lightslider.min.js'
    'frontend/js/lib/bootstrap-datepicker.min.js'
    'frontend/js/lib/owl.carousel.min.js'
    'frontend/js/lib/jquery.form.min.js'
    'frontend/js/lib/chosen.jquery.min.js'
    'frontend/js/script.js'
    'frontend/js/custom.js'
    'frontend/js/module/security.js'
    'frontend/js/module/personal.profile.js'
    'frontend/js/module/school.profile.js'
    'frontend/js/module/statistic.js'
    'frontend/js/lib/datetimepicker/build/jquery.datetimepicker.full.min.js'
filter='?uglifyjs2' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}

{% block js_script %}{% endblock %}
</body>
</html>