<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black-translucent" name="apple-mobile-web-app-status-bar-style">
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
    <title>Trường Đại Học Nguyễn Tất Thành</title>

    <!-- CSS Styles -->
    {% stylesheets
    'frontend/css/bootstrap.min.css'
    'frontend/css/font-awesome.min.css'
    'frontend/css/jquery.bxslider.css'
    'frontend/css/style.css'
    filter='?uglifycss' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    {% block css_script %}{% endblock %}
    <style rel="stylesheet">
        #content h3.heading-3 {
            color: #636363;
        }
    </style>
</head>

<body>
<header class="top-header" style="">
    <div class="container">
        <div class="d-flex justify-content-sm-center justify-content-sm-end">
            <div class="h-wrapper">
                <button type="button" class="btn btn-hnav hidden-lg-up" id="hnav-trigger" data-trigger="#hnav"><i class="fa fa-bars"></i></button>

                <div class="d-lg-flex justify-content-md-end" id="hnav">
                    <div class="mr-auto">
                        <div class="hotline mb-0 text-md-left" id="phoneList">
                            <div class="h-title">Hotline: </div>
                            <ul class="list-unstyled">
                                {% if hot_line %}
                                    {% for i, value in hot_line if i%2 == 0 %}
                                        <li>
                                            <a href="tel:{{ hot_line[i] }}">{{ hot_line[i] }}</a>
                                            {% if hot_line[i+1] is defined %}&nbsp;-&nbsp;<a href="tel:{{ hot_line[i+1] }}">{{ hot_line[i+1] }}</a>
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    <nav class="hnav col-lg-8">
                        <ul class="d-lg-flex justify-content-between">
                            {% if header %}
                                {% for text, link in header %}
                                    <li><a href="{{ link }}">{{ text }}</a></li>
                                {% endfor %}
                            {% endif %}
                            <li><a href="{{ path('application_page_csdt') }}">Cơ sở đào tạo</a></li>
                        </ul>
                    </nav>
                </div>
                <!-- /hwrapper --></div>

            <div class="search-wrapper d-flex justify-content-between">
                <div class="search">
                    <form action="{{ path('application_search') }}">
                        <div class="input-group">
                            <input class="form-control btn-transparent border-0" placeholder="Tìm kiếm thông tin" name="keyword">
                            <span class="input-group-btn">
<button class="btn btn-transparent btn-secondary border-0"><i class="fa fa-search" aria-hidden="true"></i></button>
</span>
                        </div>
                    </form>
                    <!-- /search --></div>

                <div class="language">
                    <div class="dropdown">
                        <button class="btn btn-transparent btn-sm" type="button" data-toggle="dropdown"><span><img src="{{ asset('frontend/images/ico-flagvn.jpg') }}" alt=""></span><i class="fa fa-angle-down ml-1 mt-1"></i></button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item text-center" href="#"><img src="{{ asset('frontend/images/ico-flagvn.jpg') }}" alt=""></a>
                            {% if common.language_en is defined %}
                                <a class="dropdown-item text-center" href="{{ common.language_en }}"><img src="{{ asset('frontend/images/ico-flagen.jpg') }}" alt=""></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /container --></div>
    <!-- /top-header --></header>

<div class="header" style="box-shadow: 0 1px 1px rgba(0,0,0,0.15);">
    <div class="container">
        <div class="d-flex align-items-center py-2">
            <h1 class="logo m-0"><a href="{{ path('application_homepage') }}"><img src="{{ asset('frontend/images/logo_ntt.png') }}" alt=""></a></h1>
            <p class="stars mb-0 mr-5 ml-2 hidden-sm-down"><img src="{{ asset('frontend/images/img_stars.png') }}" alt=""></p>

            <div class=" w-100 hidden-md-down">
                <ul class="h-nav list-unstyled mb-0 d-flex justify-content-between align-items-center">
                    <li><a href="{{ path('application_page_intro') }}" class="d-flex align-items-center">
                            <span class="bdr-round"><i class="fa fa-info-circle"></i></span>
                            <span class="txt">Giới thiệu</span>
                        </a></li>
                    <li><a href="{{ path('application_admission_index') }}" class="d-flex align-items-center">
                            <span class="bdr-round"><i class="fa fa-graduation-cap"></i></span>
                            <span class="txt">Tuyển sinh</span>
                        </a></li>
                    <li><a href="{{ path('application_education_index') }}" class="d-flex align-items-center">
                            <span class="bdr-round"><i class="fa fa-book"></i></span>
                            <span class="txt">Đào tạo</span>
                        </a></li>
                    <li><a href="{{ path('application_research_index') }}" class="d-flex align-items-center">
                            <span class="bdr-round"><i class="fa fa-bookmark"></i></span>
                            <span class="txt">Nghiên cứu</span>
                        </a></li>
                    <li><a href="{{ path('application_business_index') }}" class="d-flex align-items-center">
                            <span class="bdr-round"><i class="fa fa-paper-plane"></i></span>
                            <span class="txt">Hợp tác DN</span>
                        </a></li>
                    <!-- /h-nav --></ul>
            </div>
            <!-- /d-flex --></div>
        <button type="button" class="btn btn-gnav" id="menu-trigger" data-trigger="#menu"><i class="fa fa-bars c-lime-a5"></i></button>
        <!-- /container --></div>
    <!-- /header --></div>

{{ include(':Frontend:menu.html.twig', {'menu':menu}) }}
<div id="main">
    <a class="link-old" href="http://ntt.edu.vn/ntt_trangchu/" target="_blank"><i class="fa fa-chevron-circle-right mr-2"></i>XEM GIAO DIỆN CŨ</a>

    {% block body %}{% endblock %}

    <footer>
        <div class="container">
            <div class="row fnav pb-4">
                <div class="col-lg-3 col-sm-6">
                    <p><a href="#">Các khối ngành</a></p>
                    {% if menu.menuDaoTao %}
                        {% set child = menu.menuDaoTao.children %}
                        <ul class="fsub">
                            {% for item in child %}
                                {% if item.isFeatured == 0 %}
                                    <li><a href="{{ path('application_education_page', {'slug':item.slug}) }}">{{ item.title|raw }}</a></li>
                                {% else %}
                                    <li><a href="{{ item.link }}"><i class="fa fa-angle-double-right"></i>{{ item.title|raw }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>

                <div class="col-lg-3 col-sm-6">
                    <p><a href="#">Phòng ban</a></p>
                    {% if footer.phong_ban %}
                    <ul class="fsub">
                        {% for text, link in footer.phong_ban %}
                            <li><a href="{{ link }}">{{ text }}</a></li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                {% if footer.trung_tam_vien|length > 2 %}
                    {% set count = footer.trung_tam_vien|length %}
                    {% set i = 0 %}
                    <div class="col-lg-3 col-sm-6">
                        <p><a href="#">Trung tâm - Viện</a></p>
                        {% if footer.trung_tam_vien %}
                            <ul class="fsub">
                                {% for text, link in footer.trung_tam_vien %}
                                    {% if i <= count/2%}
                                        <li><a href="{{ link }}">{{ text }}</a></li>
                                    {% endif %}
                                    {% set i=i+1 %}
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <p>&nbsp;</p>
                        {% if footer.trung_tam_vien %}
                            {% set i = 0 %}
                            <ul class="fsub">
                                {% for text, link in footer.trung_tam_vien %}
                                    {% if i > count/2%}
                                        <li><a href="{{ link }}">{{ text }}</a></li>
                                    {% endif %}
                                    {% set i=i+1 %}
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                {% else %}
                    <div class="col-lg-3 col-sm-6">
                        <p><a href="#">Trung tâm - Viện</a></p>
                        {% if footer.trung_tam_vien %}
                            <ul class="fsub">
                                {% for text, link in footer.trung_tam_vien %}
                                    <li><a href="{{ link }}">{{ text }}</a></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>

                    <div class="col-lg-3 col-sm-6">

                    </div>
                {% endif %}

                <!-- /row --></div>
            <!-- /container --></div>
        <div class="copyright">
            <div class="container">
                <div class="row pb-2">
                    <div class="col-md-9">
                        <p class="pb-0">&copy;2017. Bản quyền thuộc về trường <b>Đại học Nguyễn Tất Thành</b></p>
                        <p class="f-11 pt-0 pb-0">300A Nguyễn Tất Thành, P.13, Quận 4, Tp.HCM, Việt Nam. - Tổng đài: <b>(08) 39411310</b> - Fax: <b>(08) 39404759</b></p>
                    </div>
                    <div class="col-md-3">
                        <p class="pb-0 font-weight-bold">Theo dõi chúng tôi trên</p>
                        <ul class="social d-flex w-md-50 f-16 mt-0">
                            {% if common.facebook is defined %}
                                <li style="margin-right:10px"><a href="{{ common.facebook }}"><i class="fa fa-facebook-square c-blue-a5"></i></a></li>
                            {% endif %}
                            {% if common.googleplus is defined %}
                                <li style="margin-right:10px"><a href="{{ common.googleplus }}"><i class="fa fa-google-plus c-red"></i></a></li>
                            {% endif %}
                            {% if common.twitter is defined %}
                                <li style="margin-right:10px"><a href="{{ common.twitter }}"><i class="fa fa-twitter c-blue"></i></a></li>
                            {% endif %}
                            {% if common.youtube is defined %}
                                <li style="margin-right:10px"><a href="{{ common.youtube }}"><i class="fa fa-youtube-square c-red"></i></a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <!-- /container --></div>
        </div>
    </footer>

<!-- Javascript Libraries -->
{% javascripts
'frontend/js/jquery.min.js'
'frontend/js/tether.min.js'
'frontend/js/bootstrap.min.js'
'frontend/js/breakingNews.js'
'frontend/js/jquery.bxslider.min.js'
'frontend/js/jquery.validate.min.js'
'frontend/js/functions.js'
filter='?uglifyjs2' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}

{% block js_script %}{% endblock %}
</body>
</html>