{% extends '::frontend.html.twig' %}

{% block body %}
    <section id="nuti-school" xmlns="http://www.w3.org/1999/html">
        {{ include('@App/School/_header.html.twig') }}
        <div class="school-body">
            <div class="container">
                <div class="row">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation">
                            <a href="{{ path('application_for_school_heightWeightList') }}">
                                <h4>Danh sách học sinh cân đo</h4>
                            </a>
                        </li>
                        <li role="presentation" class="active">
                            <a>
                                <h4>Danh sách lớp</h4>
                            </a>
                        </li>
                    </ul>

                    <div class="school-filter">
                        <form class="class-list-filter-frm" action="" method="get">
                            <div class="p4">
                                <p>Tìm kiếm theo</p>
                            </div>
                            <div class="p5">
                                <select name="nam_hoc" class="chosen filter-year" data-placeholder="Theo Năm học"
                                        style="width:100%;"
                                        tabindex="1">
                                    <option value="">Theo năm học</option>
                                    {% set schoolYears = get_school_years() %}
                                    {% for item in schoolYears %}
                                        <option {% if parameters.nam_hoc is defined and parameters.nam_hoc is not empty and parameters.nam_hoc == item.id %}selected{% endif %}
                                                value="{{ item.id }}">{{ item.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="p5">
                                <select name="khoi_lop" class="chosen filter-unit" data-placeholder="Theo Khối Lớp"
                                        style="width:100%;"
                                        tabindex="1">
                                    <option value="">Theo khối lớp</option>
                                    {% set schoolUnits = get_school_units() %}
                                    {% for item in schoolUnits %}
                                        <option {% if parameters.khoi_lop is defined and parameters.khoi_lop is not empty and parameters.khoi_lop == item.id %}selected{% endif %} value="{{ item.id }}">{{ item.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </form>
                        <div class="p6">
                            <button class="nuti-button" type="button" data-toggle="modal"
                                    data-target="#addClassModal">Thêm lớp
                            </button>
                        </div>
                    </div>

                    {% for flash_message in app.session.flashBag.get('notice') %}
                        <div class="alert alert-success" role="alert">
                            <strong>Thành công!</strong> {{ flash_message }}
                        </div>
                    {% endfor %}
                    <div class="school-table t-class">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Mã Lớp</th>
                                <th>Khối Lớp</th>
                                <th>Tên Lớp</th>
                                <th>Trường</th>
                                <th>Năm học</th>
                                <th>Danh sách học sinh</th>
                                <th>Thao tác</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% set school = current_school() %}
                            {% for item in pagination %}
                                <tr>
                                    <td>{{ item.code }}</td>
                                    <td>{{ item.schoolClassUnit.name }}</td>
                                    <td>{{ item.name }}</td>
                                    <td>{{ school.name }}</td>
                                    <td>{{ item.schoolYear.name }}</td>
                                    <td><a href="{{ path('application_for_school_studentInClass', {'id': item.id}) }}" class="view-detail">Chi tiết</a></td>
                                    <td>
                                        <div class="dropdown">
                                            <button id="openAct1" class="dropdown-btn" type="button"
                                                    data-toggle="dropdown" aria-haspopup="true"
                                                    aria-expanded="false">
                                                <i class="icon more-icon"></i>
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="openAct1">
                                                <li>
                                                    <a href="{{ path('application_for_school_exportHeightWeightStandardFile', {'id': item.id}) }}">
                                                        DS chuẩn cân đo
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="edit-class-btn" data-url="{{ path('application_for_school_editClass', {'id': item.id}) }}">
                                                        Chỉnh sửa
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="{{ path('application_for_school_deleteClass', {'id': item.id}) }}" onclick="return confirm('Bạn chắc muốn xóa lớp này ?');">
                                                        Xóa
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="7">Không có dữ liệu</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {{ knp_pagination_render(pagination, 'AppBundle:School:_pagination.html.twig') }}
                </div>
            </div>
        </div>
    </section>

{% endblock %}