<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Nuti print</title>
    <style type="text/css">
        body{
            font-family: Arial, sans-serif;
        }
        .nuti-print {
            width: 700px;
            margin: 30px auto;
        }
        figure {
            margin: 0;
        }
        .cf{
            clear: both;
        }
        p {
            font-family: Arial, sans-serif;
            font-size: 12px;
            margin: 0;
            line-height: 20px;
        }
        h1 {
            color: #418c39;
            font-size: 14px;
            font-weight: bold;
            text-transform: uppercase;
            text-align: right;
        }
        h2 {
            font-size: 13px;
            font-weight: bold;
            text-transform: uppercase;
        }
        h5 {
            font-family: Arial, sans-serif;
            font-size: 13px;
            line-height: 30px;
            font-weight: bold;
            text-transform: uppercase;
            margin-top:13px;
            margin-bottom: 3px;
        }
        h2.green {
            color: #418c39;
        }
        h2.red {
            color: #ff0000;
        }
        .print-header {
            display: table;
            width: 100%;
            margin-bottom: 10px;
        }
        .print-header > div {
            display: table-cell;
            vertical-align: middle;
        }
        .print-header > div:first-child {
            width: 30%;
        }
        .print-header > div:nth-child(2) {
            width: 70%;
        }
        .print-info:after, .print-info:before {
            display: table;
            content: " ";
        }
        .print-info:after {
            clear: both;
        }
        .col30, .col40, .col50,.col60, .col70, .col100 {
            float: left;
        }
        .col30 {
            width: 30%;
        }
        .col40{
            width: 40%;
        }
        .col50 {
            width: 50%;
        }
        .col60{
            width: 60%;
        }
        .col70 {
            width: 70%;
            text-align: right;
        }
        .label, .value {
            display: inline-block;
        }
        .label {
            width: 60px;
        }
        .value {
            font-weight: bold;
        }
        .uppercase {
            text-transform: uppercase;
        }
        .print-result {
            display: table;
            width: 100%;
            min-height: 50px;
            border: 2px solid #418c39;
            margin-top: 20px;
        }
        .print-result > div {
            display: table-cell;
            vertical-align: middle;
            padding: 10px 15px;
        }
        .print-result > div:first-child {
            text-align: center;
            border-right: 2px solid #418c39;
        }
        .re-item {
            display: table;
            width: 100%;
            margin-bottom: 15px;
        }
        .re-item > div {
            display: table-cell;
            vertical-align: top;
        }
        .re-num {
            width: 6%;
        }
        .re-num > div {
            width: 32px;
            height: 32px;
            background-color: #418c39;
        }
        .re-num > div p {
            color: #fff;
            font-weight: bold;
            text-align: center;
            line-height: 32px;
        }
        .re-text {
            padding-left: 10px;
        }
        .print-signature {
            float: right;
            text-align: center;
            margin-top: 60px;
        }
        .print-recommendation {
            margin-top: 5px;
            text-align: justify;
            font-family: Arial, sans-serif;
            font-size: 13px;
        }
        .print-name {
            margin: 60px 0;
        }
    </style>
    <style type="text/css">
        @media print {
            #wrapper{
                margin-left: 1.6cm !important;
                padding-right: 1.2cm !important;
            }
            #img_print{max-width: 195px;}
        }
    </style>
    {% stylesheets
    'frontend/css/lib/bootstrap.min.css'
    'frontend/css/main.css'
    'frontend/css/custom.css'
    filter='?uglifycss' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
</head>
<body>
<div class="nuti-print">
    <div class="print-header">
        <div>
            <figure>
                <img src="{{ asset('frontend/images/nuti-logo.png') }}">
            </figure>
        </div>
        <div>
            <h1>Danh sách học sinh cân đo</h1>
        </div>
    </div>
    <div class="print-info">
        <div class="school-table t-student">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Mã</th>
                    <th>Họ & Tên</th>
                    <th>Ngày sinh</th>
                    <th>Giới tính</th>
                    <th>Chiều cao</th>
                    <th>Cân nặng</th>
                    <th>BMI</th>
                    <th>Kết quả</th>
                    <th>Ngày đo</th>
                </tr>
                </thead>
                <tbody>
                {% for item in pagination %}
                    <tr>
                        <td>{{ item.profileId }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.dateOfBirth|date('d/m/Y') }}</td>
                        <td>
                            {% if item.gender == constant('\\AMZ\\ProfileBundle\\Entity\\Profile::GENDER_MALE') %}
                                Nam
                            {% else %}
                                Nữ
                            {% endif %}
                        </td>
                        <td>{{ item.lastHeight }}</td>
                        <td>{{ item.lastWeight|number_format(1, ',') }}</td>
                        <td>{{ item.lastBMI|number_format(1, ',') }}</td>
                        <td>{{ item.lastResult }}</td>
                        <td>{{ item.lastDayWeight|date('d/m/Y') }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="10">Chưa có dữ liệu</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>