{% extends '::frontend.html.twig' %}

{% block body %}
    <section id="nuti-school">
        {{ include('@App/School/_header.html.twig') }}
        <div class="school-body">
            <div class="container">
                <div class="row">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a>
                                <h4>Danh sách học sinh cân đo</h4>
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="{{ path('application_for_school_classList') }}">
                                <h4>Danh sách lớp</h4>
                            </a>
                        </li>
                    </ul>

                    <div class="row mt-20">
                        <div class="col-xs-12 col-sm-8">
                            <p class="warning">Lưu ý: Giáo viên vui lòng chọn "XUẤT DANH SÁCH CHUẨN LỚP" để
                                thuận tiện và đồng nhất việc nhập liệu.</p>
                        </div>
                        <div class="col-xs-12 col-sm-4 button-group">
                            <button class="nuti-button" type="button" data-toggle="modal"
                                    data-target="#addHeightWeightModal">Thêm danh sách học sinh cân đo
                            </button>
                        </div>
                    </div>

                    <div class="school-filter">
                        <form action="" method="get">
                            <div class="p1">
                                <div class="search-wrapper">
                                    <input value="{% if parameters.keyword is defined %}{{ parameters.keyword }}{% endif %}" name="keyword" type="text" class="form-control"
                                           placeholder="Tìm kiếm theo Mã hoặc Tên Học Sinh">
                                    <i class="fa fa-search"></i>
                                </div>
                            </div>
                            <div class="p2">
                                <select name="nam_hoc" class="chosen filter-height-weight-school-year"
                                        data-url-load-class="{{ path('application_for_school_ajax_loadClassByYear') }}"
                                        data-placeholder="Theo Năm học" style="width:100%;"
                                        tabindex="1">
                                    {% set schoolYears = get_school_years() %}
                                    <option value="">Chọn năm học</option>
                                    {% for item in schoolYears %}
                                        <option {% if parameters.nam_hoc is defined and parameters.nam_hoc == item.id %}selected{% endif %} value="{{ item.id }}">{{ item.name }}</option>
                                    {% endfor %}
                                    <option value="2015">2015</option>
                                </select>
                            </div>
                            <div class="p2">
                                <select name="lop" class="chosen filter-height-weight-school-class"
                                        data-value="{% if parameters.lop is defined %}{{ parameters.lop }}{% endif %}"
                                        data-placeholder="Theo Lớp"
                                        style="width:100%;" tabindex="1">
                                    <option value="">Chọn lớp</option>
                                </select>
                            </div>
                            <div class="p3">
                                <button class="nuti-button" type="submit"><i class="fa fa-search"
                                                                             style="font-size: 18px;"></i></button>

                            </div>
                        </form>
                    </div>

                    <div class="school-table t-student">
                        {% for flash_message in app.session.flashBag.get('notice') %}
                            <div class="alert alert-success" role="alert">
                                <strong>Thành công!</strong> {{ flash_message }}
                            </div>
                        {% endfor %}
                        {% for flash_message in app.session.flashBag.get('error-no-item-imported') %}
                            <div class="alert alert-warning" role="alert">
                                <strong>Thông báo!</strong> {{ flash_message }}
                            </div>
                        {% endfor %}
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Mã</th>
                                <th>Họ & Tên</th>
                                <th>Ngày sinh</th>
                                <th>Giới tính</th>
                                <th>Chiều cao</th>
                                <th>Cân nặng</th>
                                <th>BMI</th>
                                <th>Kết quả</th>
                                <th>Ngày đo</th>
                                <th>Thao tác</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in pagination %}
                                <tr>
                                    <td>{{ item.profileId }}</td>
                                    <td>{{ item.name }}</td>
                                    <td>{{ item.dateOfBirth|date('d/m/Y') }}</td>
                                    <td>
                                        {% if item.gender == constant('\\AMZ\\ProfileBundle\\Entity\\Profile::GENDER_MALE') %}
                                            Nam
                                        {% else %}
                                            Nữ
                                        {% endif %}
                                    </td>
                                    <td>{{ item.lastHeight }}</td>
                                    <td>{{ item.lastWeight|number_format(1, ',') }}</td>
                                    <td>{{ item.lastBMI|number_format(1, ',') }}</td>
                                    <td>{{ item.lastResult }}</td>
                                    <td>{{ item.lastDayWeight|date('d/m/Y') }}</td>
                                    <td>
                                        <div class="dropdown">
                                            <button id="openAction2" class="dropdown-btn" type="button"
                                                    data-toggle="dropdown" aria-haspopup="true"
                                                    aria-expanded="false">
                                                <i class="icon more-icon"></i>
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="openAction2">
                                                <li>
                                                    <a href="{{ path('application_for_school_heightWeightHistory', {'profileId': item.profileId}) }}">Xem
                                                        lịch sử</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>

                            {% else %}
                                <tr>
                                    <td colspan="10">Chưa có dữ liệu</td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="10">
                                    <a class="nuti-button" href="{{ url("application_for_school_export",parameters) }}">Xuất dữ liệu</a>
                                </td>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                    {% if pagination is not empty %}
                        {{ knp_pagination_render(pagination, 'AppBundle:School:_pagination.html.twig') }}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}