{% extends '::admin.html.twig' %}

{% block content %}
    <div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">Sự kiện</h4>
            </div>
            <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                <a href="{{ path('amz_event_create') }}"
                   class="btn btn-danger pull-right m-l-20 btn-rounded btn-outline hidden-xs hidden-sm waves-effect waves-light">Tạo mới</a>
                <ol class="breadcrumb">
                    <li><a href="{{ path('amz_dashboard') }}">Dashboard</a></li>
                    <li class="active">Sự kiện</li>
                </ol>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <form action="" method="get">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="white-box">
                        <div class="row">
                            <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <input name="admin_keyword" value="{% if parameters['admin_keyword'] is defined %}{{ parameters['admin_keyword'] }}{% endif %}"
                                           type="text" placeholder="từ khóa..." class="form-control"/>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-2 col-lg-2 col-sm-6 col-xs-12">
                                <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Filter
                                </button>
                                <button onclick="window.location.href='{{ path('amz_post_homepage') }}'" type="button" class="btn btn-inverse waves-effect waves-light m-r-10">Reset
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="white-box">
                    <div class="table-responsive">
                        <table class="table product-overview">
                            <thead>
                            <tr>
                                <th>Title</th>
                                <th>Ngày bắt đầu</th>
                                <th width="100">Địa điểm</th>
                                <th width="100">Status</th>
                                <th width="100">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for entity in pagination %}
                                <tr>
                                    <td>{{ entity.title|raw }}</td>
                                    <td>
                                        {{ entity.startDate|date('d/m/y H:i') }}
                                    </td>
                                    <td>
                                        {{ entity.location }}
                                    </td>
                                    <td>
                                        {% if 1 == entity.status %}
                                            <span class="label label-warning font-weight-100">Draft</span>
                                        {% elseif 2 == entity.status %}
                                            <span class="label label-success font-weight-100">Publish</span>
                                        {% else %}
                                            <span class="label label-default font-weight-100">Trash</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a href="{{ path('amz_event_edit', {'id': entity.id}) }}"
                                           class="text-inverse p-r-10"
                                           data-toggle="tooltip" title="Edit"><i class="ti-marker-alt"></i></a> <a
                                                href="{{ path('amz_event_delete', {'id': entity.id}) }}"
                                                class="text-inverse p-r-10" title="Delete"
                                                onclick="return confirm('Are you sure ?');"
                                                data-toggle="tooltip"><i class="ti-trash"></i></a> </td>

                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
        <div class="amz_pagination_wrapper">
            {% if pagination %}
                {{ knp_pagination_render(pagination) }}
            {% endif %}
        </div>
    </div>
{% endblock %}