<div class="col-lg-10 col-md-21 col-sm-6 col-xs-12">
    <div class="white-box">
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <div class="form-group">
                    <label for="product_lang1_title1">Tên trường <span class="required-field">*</span></label>
                    {{ form_widget(form.name) }}
                    <div class="amz-error">
                        {{ form_errors(form.name) }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="product_lang1_slug">Mã trường <span class="required-field">*</span></label>
                    {{ form_widget(form.code) }}
                    <div class="amz-error">
                        {{ form_errors(form.code) }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="product_lang1_isFeatured">Thành phố</label>
                    {{ form_widget(form.city) }}
                    <div class="amz-error">
                        {{ form_errors(form.city) }}
                    </div>
                </div>
                <div class="form-group district-block">
                    <label for="product_lang1_isFeatured">Quận huyện</label>
                    {{ form_widget(form.district) }}
                    <div class="amz-error">
                        {{ form_errors(form.district) }}
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12">
                <div class="form-group">
                    <label for="product_lang1_title1">Website</label>
                    {{ form_widget(form.website) }}
                    <div class="amz-error">
                        {{ form_errors(form.website) }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="product_lang1_slug">Điện thoại</label>
                    {{ form_widget(form.phone) }}
                    <div class="amz-error">
                        {{ form_errors(form.phone) }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="product_lang1_slug">Email</label>
                    {{ form_widget(form.email) }}
                    <div class="amz-error">
                        {{ form_errors(form.email) }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="product_lang1_slug">Địa chỉ</label>
                    {{ form_widget(form.address) }}
                    <div class="amz-error">
                        {{ form_errors(form.address) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>