{% extends '::frontend.html.twig' %}

{% block body %}
    <!-- slider -->
    {#{{ include('@App/Default/Index/header-banner.html.twig') }}#}

    <section id="nuti-news">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-9">
                    <div class="news-title">
                        <h4 class="bigger">{{ post.title  }}</h4>
                        <div class="news-info">
                            <div class="news-time">
                                <p>Ngày đăng {{ post.createdAt | date("d/m/Y") }}</p>
                            </div>
                            <div class="news-socialnetwork">
                                <a href="#"><i class="fa fa-facebook-square"></i></a>
                                <a href="#"><i class="fa fa-google-plus-square"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="news-content">
                        {{ post.content | raw }}
                    </div>

                    <div class="news-divider"></div>

                    <div class="news-related">
                        <h4 class="bigger">Tin cũ hơn</h4>

                        <div class="row">
                        {% for entity in relatives %}
                            <div class="col-xs-12 col-sm-4">

                                <div class="news-item">
                                    <div class="news-img">
                                        <a href="{{ url('application_post_detail',{category_slug:category_slug, slug:entity.slug}) }}">
                                            <div style="background-image: url('{{ entity.thumbnail }}');"></div>
                                        </a>
                                    </div>
                                    <div class="news-text">
                                        <a href="{{ url('application_post_detail',{category_slug:category_slug, slug:entity.slug}) }}">
                                            <h4>{{ entity.title }}</h4>
                                        </a>
                                        <p>{{ entity.excerpt | raw }}</p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}

                            {#<div class="col-xs-12 col-sm-4">#}
                                {#<div class="news-item">#}
                                    {#<div class="news-img">#}
                                        {#<a href="#">#}
                                            {#<div style="background-image: url('images/news5.jpg');"></div>#}
                                        {#</a>#}
                                    {#</div>#}
                                    {#<div class="news-text">#}
                                        {#<a href="#">#}
                                            {#<h4>Thực phẩm tốt cho mắt của bé</h4>#}
                                        {#</a>#}
                                        {#<p>Tình trạng phổ biến trên đa số bệnh nhân ung thư chính là suy kiệt cơ thể ...</p>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}

                            {#<div class="col-xs-12 col-sm-4">#}
                                {#<div class="news-item">#}
                                    {#<div class="news-img">#}
                                        {#<a href="#">#}
                                            {#<div style="background-image: url('images/news8.jpg');"></div>#}
                                        {#</a>#}
                                    {#</div>#}
                                    {#<div class="news-text">#}
                                        {#<a href="#">#}
                                            {#<h4>Nhận biết dấu hiệu ung thư dạ dày</h4>#}
                                        {#</a>#}
                                        {#<p>Tình trạng phổ biến trên đa số bệnh nhân ung thư chính là suy kiệt cơ thể ...</p>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-3">
                    <div class="advertisement-item">
                        <figure>
                            <a href="http://www.nutifood.com.vn/vi/chi-tiet-san-pham/-/33-nuvita-grow-3.html"><img class="img-responsive" src="{{ asset('frontend/images/ad1.jpg') }}"></a>
                        </figure>
                    </div>

                    <div class="advertisement-item">
                        <figure>
                            <a href="http://www.nutifood.com.vn/vi/chi-tiet-san-pham/-/83-nuti-sua-tuoi-100.html"><img class="img-responsive" src="{{ asset('frontend/images/ad2.jpg') }}"></a>
                        </figure>
                    </div>

                    <div class="advertisement-item">
                        <figure>
                            <a href="http://www.nutifood.com.vn/vi/chi-tiet-san-pham/-/45-growplus-dinh-duong-hieu-qua-c.html"><img class="img-responsive" src="{{ asset('frontend/images/ad3.jpg') }}"></a>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {#{{ include('@App/Default/Index/nuti-feature.html.twig') }}#}
    {#{{ include('@App/Default/Index/hot-handbooks.html.twig') }}#}
    {#{{ include('@App/Default/Index/nuti-gallery.html.twig') }}#}

{% endblock %}