<div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
        <div class="statistic-view">
            <div class="st-title">
                <div>
                    <h4>{{ parameters.city | upper }} </h4>
                </div>
                <div>
                    <h4>Cộng hòa xã hội chủ nghĩa Việt Nam <br>
                        <span>Độc lập - Tự do - Hạnh phúc</span></h4>
                </div>
            </div>

            <div class="st-heading">
                <h1>Báo cáo thống kê</h1>
                <p>Tình trạng dinh dưỡng học sinh toàn thành phố tháng {{ parameters.month }} năm
                    học {{ year.name }}</p>
            </div>

            <div class="st-table">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th rowspan="2">Tình trạng dinh dưỡng/Tỷ lệ</th>
                        <th colspan="2">Nam</th>
                        <th colspan="2">Nữ</th>
                        <th colspan="2">Tổng</th>

                    </tr>
                    <tr>
                        <th>N</th>
                        <th>Tỷ lệ</th>
                        <th>N</th>
                        <th>Tỷ lệ</th>
                        <th>N</th>
                        <th>Tỷ lệ</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Bình thường</td>
                        <td>{{ finalResult.bt.1 }}</td>
                        <td>{{ ((finalResult.bt.1/totalResult)*100)|round(2, 'floor') }} %</td>
                        <td>{{ finalResult.bt.2 }}</td>
                        <td>{{ ((finalResult.bt.2/totalResult)*100)|round(2, 'floor') }} %</td>
                        <td>{{ finalResult.bt.1 + finalResult.bt.2 }}</td>
                        <td>{{ (finalResult.bt.1/totalResult)*100 + (finalResult.bt.2/totalResult)*100 }} %</td>
                    </tr>
                    <tr>
                        <td>Thừa cân</td>
                        <td>{{ finalResult.tc.1 }}</td>
                        <td>{{ ((finalResult.tc.1/totalResult)*100)|round(2, 'floor') }} %</td>
                        <td>{{ finalResult.tc.2 }}</td>
                        <td>{{ ((finalResult.tc.2/totalResult)*100)|round(2, 'floor') }} %</td>
                        <td>{{ finalResult.tc.1 + finalResult.tc.2 }}</td>
                        <td>{{ (finalResult.tc.1/totalResult)*100 + (finalResult.tc.2/totalResult)*100 }} %</td>
                    </tr>
                    <tr>
                        <td>Béo phì</td>
                        <td>{{ finalResult.bp.1 }}</td>
                        <td>{{ ((finalResult.bp.1/totalResult)*100)|round(2, 'floor') }} %</td>
                        <td>{{ finalResult.bp.2 }}</td>
                        <td>{{ ((finalResult.bp.2/totalResult)*100)|round(2, 'floor') }} %</td>
                        <td>{{ finalResult.bp.1 + finalResult.bp.2 }}</td>
                        <td>{{ (finalResult.bp.1/totalResult)*100 + (finalResult.bp.2/totalResult)*100 }} %</td>
                    </tr>
                    <tr>
                        <td>SDD thể gầy</td>
                        <td>{{ finalResult.sddtg.1 }}</td>
                        <td>{{ (finalResult.sddtg.1/totalResult)*100|round(2, 'floor') }} %</td>
                        <td>{{ finalResult.sddtg.2 }}</td>
                        <td>{{ (finalResult.sddtg.2/totalResult)*100|round(2, 'floor') }} %</td>
                        <td>{{ finalResult.sddtg.1 + finalResult.sddtg.2 }}</td>
                        <td>{{ (finalResult.sddtg.1/totalResult)*100 + (finalResult.sddtg.2/totalResult)*100 }} %</td>
                    </tr>
                    <tr>
                        <td>SDD thể thấp còi</td>
                        <td>{{ finalResult.sddttc.1 }}</td>
                        <td>{{ ((finalResult.sddttc.1/totalResult)*100)|round(2, 'floor') }} %</td>
                        <td>{{ finalResult.sddttc.2 }}</td>
                        <td>{{ ((finalResult.sddttc.2/totalResult)*100)|round(2, 'floor') }} %</td>
                        <td>{{ finalResult.sddttc.1 + finalResult.sddttc.2 }}</td>
                        <td>{{ (finalResult.sddttc.1/totalResult)*100 + (finalResult.sddttc.2/totalResult)*100 }} %</td>
                    </tr>
                    <tr>
                        <td>Thừa cân/thấp còi</td>
                        <td>{{ finalResult.tc_tc.1 }}</td>
                        <td>{{ ((finalResult.tc_tc.1/totalResult)*100)|round(2, 'floor') }} %</td>
                        <td>{{ finalResult.tc_tc.2 }}</td>
                        <td>{{ ((finalResult.tc_tc.2/totalResult)*100)|round(2, 'floor') }} %</td>
                        <td>{{ finalResult.tc_tc.1 + finalResult.tc_tc.2 }}</td>
                        <td>{{ (finalResult.tc_tc.1/totalResult)*100 + (finalResult.tc_tc.2/totalResult)*100 }} %</td>
                    </tr>
                    <tr>
                        <td>Bèo phì/thấp còi</td>
                        <td>{{ finalResult.bp_tc.1 }}</td>
                        <td>{{ ((finalResult.bp_tc.1/totalResult)*100)|round(2, 'floor') }} %</td>
                        <td>{{ finalResult.bp_tc.2 }}</td>
                        <td>{{ ((finalResult.bp_tc.2/totalResult)*100)|round(2, 'floor') }} %</td>
                        <td>{{ finalResult.bp_tc.1 + finalResult.tc_tc.2 }}</td>
                        <td>{{ (finalResult.bp_tc.1/totalResult)*100 + (finalResult.bp_tc.2/totalResult)*100 }} %</td>
                    </tr>
                    <tr>
                        <td>SDD thể gầy/thấp còi</td>
                        <td>{{ finalResult.sdd_tc.1 }}</td>
                        <td>{{ ((finalResult.sdd_tc.1/totalResult)*100)|round(2, 'floor') }} %</td>
                        <td>{{ finalResult.sdd_tc.2 }}</td>
                        <td>{{ ((finalResult.sdd_tc.2/totalResult)*100)|round(2, 'floor') }} %</td>
                        <td>{{ finalResult.sdd_tc.1 + finalResult.sdd_tc.2 }}</td>
                        <td>{{ (finalResult.sdd_tc.1/totalResult)*100 + (finalResult.sdd_tc.2/totalResult)*100 }} %</td>
                    </tr>
                    </tbody>
                </table>

                <p>(Học sinh được cân đo trong khoảng thời gian từ {{ startEnd.start_date|date('d/m/Y') }} đến ngày {{ startEnd.end_date|date('d/m/Y') }})</p>

            </div>

            <div class="st-signature">
                <div>
                    <h4>Người báo cáo</h4>
                    <em>(Ký và ghi rõ họ tên)</em>
                </div>
                <div>
                    <h4>Đại diện lãnh đạo</h4>
                    <em>(Ký và ghi rõ họ tên)</em>
                </div>
            </div>
        </div>
    </div>
</div>