{% extends '::frontend.html.twig' %}

{% block body %}
    <section id="nuti-profile">
        {{ include('AppBundle:Profile/__Layout:__header.html.twig') }}

        <div class="profile-detail mb-40">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <div class="stage-item item-1">
                            {#<span class="profile-number">1</span>#}
                            <div class="stage-img">
                                <div style="background-image: url('{{ asset('frontend/images/stage-1.jpg') }}')"></div>
                                <div class="stage-overlay">
                                    <div>
                                        <a href="{{ path('application_profile_create_person') }}">
                                            <button class="nuti-button transparent">Tạo hồ sơ</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            {% if app.user.profiles is defined and app.user.profiles is not empty %}
                                {% for profile in app.user.profiles if constant('AMZ\\UserBundle\\Entity\\UserProfile::GROUP_1') == profile.profileGroup %}
                                    {{ include('AppBundle:Profile/__Layout:_profile_item.html.twig', {'profile': profile, 'class': 'mt-20'}) }}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-4">
                        <div class="stage-item item-2">
                            {#<span class="profile-number">2</span>#}
                            <div class="stage-img">
                                <div style="background-image: url('{{ asset('frontend/images/stage-2.jpg') }}')"></div>
                                <div class="stage-overlay">
                                    <div>
                                        <a href="{{ path('application_profile_create_person') }}">
                                            <button class="nuti-button transparent">Tạo hồ sơ</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            {% if app.user.profiles is defined and app.user.profiles is not empty %}
                                {% for profile in app.user.profiles if constant('AMZ\\UserBundle\\Entity\\UserProfile::GROUP_2') == profile.profileGroup %}
                                    {{ include('AppBundle:Profile/__Layout:_profile_item.html.twig', {'profile': profile, 'class': 'mt-20'}) }}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-4">
                        <div class="stage-item item-3">
                            <div class="stage-img">
                                <div style="background-image: url('{{ asset('frontend/images/stage-3.jpg') }}')"></div>
                                <div class="stage-overlay">
                                    <div>
                                        <a href="{{ path('application_profile_create_person') }}">
                                            <button class="nuti-button transparent">Tạo hồ sơ</button>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            {% if app.user.profiles is defined and app.user.profiles is not empty %}
                                {% for profile in app.user.profiles if constant('AMZ\\UserBundle\\Entity\\UserProfile::GROUP_3') == profile.profileGroup %}
                                    {{ include('AppBundle:Profile/__Layout:_profile_item.html.twig', {'profile': profile, 'class': 'mt-20'}) }}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}