{% extends '::frontend.html.twig' %}

{% block body %}
    <section id="nuti-profile">
    {{ include('AppBundle:Profile/__Layout:__header.html.twig') }}
    <div id="nuti-nutritional-status" style="padding: 0;">
        <div class="personal-detail-info">
            <div class="container">
                <div class="row">
                    {{ include('@App/Profile/__Layout/_group_sidebar.html.twig') }}
                    <div class="col-xs-12 col-sm-7 col-lg-8">
                        <div class="tab">
                            <div id="tab-1" class="profile-detail-menu-content">
                                <h3 class="heading">Tình trạng dinh dưỡng của trẻ</h3>

                                <div class="nuti-advice">
                                    <p>Để đánh giá tình trạng dinh dưỡng chính xác, cần chú ý đảm bảo đúng kỹ thuật cân đo.</p>
                                    <p>Nên cân đo hàng tháng trên cùng một cái cân, cùng một thước đo, vào cùng một thời điểm trong ngày.</p>
                                    <p>Tốt nhất nên đo vào lúc chưa ăn sáng hoặc sau khi đi vệ sinh.</p>
                                    <p>Bạn có thể vào mục Kỹ thuật cân đo để xem cách cân đo chính xác cho bé.</p>
                                </div>

                                <form class="nuti-check" action="{{ url("application_profile_personal_bmi_calculate_result") }}" method="post">
                                    <div class="input-1">
                                        <label class="control-label">Đối tượng cân đo</label>
                                        <select name="profileId" class="chosen" data-placeholder="Chọn hồ sơ" style="width:100%;" tabindex="1" required>
                                            <option value=""></option>
                                            {% for profile in profiles %}
                                                <option value="{{ profile.id }}">{{ profile.firstName }} {{ profile.lastName }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="input-2">
                                        <label class="control-label">Cân nặng</label>
                                        <div class="input-group">
                                            <input type="number" step="0.1" name="weight" class="form-control" required>
                                            <span class="input-group-addon">kg</span>
                                        </div>
                                    </div>
                                    <div class="input-3">
                                        <label class="control-label">Chiều cao</label>
                                        <div class="input-group">
                                            <input type="number" step="0.1" name="height" class="form-control" required>
                                            <span class="input-group-addon">cm</span>
                                        </div>
                                    </div>
                                    <div class="input-4">
                                        <a href="#"><button class="nuti-button" type="submit">Kết quả</button></a>
                                    </div>
                                </form>
                            </div>
                            <div id="tab-2" class="profile-detail-menu-content" style="display: none">
                                <h3 class="heading">Tình trạng dinh dưỡng của trẻ từ 5-19 tuổi</h3>

                                <form class="nuti-check">
                                    <div class="input-1">
                                        <label class="control-label">Đối tượng cân đo</label>
                                        <select class="chosen" data-placeholder="Chọn hồ sơ" style="width:100%;" tabindex="1">
                                            <option value=""></option>
                                            <option value="P1">Hồ sơ 1</option>
                                            <option value="P2">Hồ sơ 2</option>
                                        </select>
                                    </div>
                                    <div class="input-2">
                                        <label class="control-label">Cân nặng</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control">
                                            <span class="input-group-addon">kg</span>
                                        </div>
                                    </div>
                                    <div class="input-3">
                                        <label class="control-label">Chiều cao</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control">
                                            <span class="input-group-addon">cm</span>
                                        </div>
                                    </div>
                                    <div class="input-4">
                                        <a href="#"><button class="nuti-button">Kết quả</button></a>
                                    </div>
                                </form>

                                <div class="no-pro5">
                                    <p>Bạn chưa có hồ sơ phù hợp với độ tuổi !</p>
                                    <a href="#"><button class="nuti-button white">Tạo hồ sơ</button></a>
                                </div>
                            </div>
                            <div id="tab-3" class="profile-detail-menu-content" style="display: none">
                                <p>content 3</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}