{% extends '::backend.html.twig' %}

{% block data_page_body %}post_edit{% endblock %}
{% block class_body %}post{% endblock %}
{% block content %}
    <div id="main-content">
        <div class="page-title">
            <i class="icon-custom-left"></i>

            <h3>Đổi mật khẩu</h3>
            <br>
        </div>
        {% for flash_message in app.session.flashbag.get('notice') %}
            <div class="flash-notice">
                <div class="alert alert-success fade in">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    {{ flash_message }}
                </div>
            </div>
        {% endfor %}
        {% for flash_message in app.session.flashbag.get('error') %}
            <div class="flash-notice">
                <div class="alert alert-danger fade in">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    {{ flash_message }}
                </div>
            </div>
        {% endfor %}
        <form method="post">
            {{ form_errors(form) }}
            <div class="row">
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-body" id="post_general">
                            <div class="row profile-classic">
                                <div class="col-md-12">
                                    <div class="panel">
                                        <div class="panel-title line">
                                            <div class="caption"><i class="fa fa-info c-gray m-r-10"></i> TÀI KHOẢN</div>
                                        </div>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="control-label c-gray col-md-3">Mật khẩu mới <span class="asterisk">*</span></div>
                                                <div class="col-md-6">
                                                    {{ form_row(form.password.first) }}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="control-label c-gray col-md-3">Nhập lại mật khẩu <span class="asterisk">*</span></div>
                                                <div class="col-md-6">
                                                    {{ form_row(form.password.second) }}
                                                    <div class="error">
                                                        {{ form_errors(form.password) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 m-t-20 m-b-40 align-center">
                    <button class="btn btn-success m-t-10"><i class="fa fa-check"></i> Lưu dữ liệu</button>
                </div>
            </div>
            {{ form_rest(form) }}
        </form>
    </div>
{% endblock %}

{% block page_level_style %}
    <link rel="stylesheet" href="{{ asset('assets/plugins/dropzone/dropzone.css') }}">
{% endblock %}

{% block page_level_scripts %}
    <script src="{{ asset('assets/plugins/cke-editor/ckeditor.js') }}"></script>
    <script src="{{ asset('assets/plugins/cke-editor/adapters/jquery.js') }}"></script>
    <script src="{{ asset('assets/plugins/dropzone/dropzone.min.js') }}"></script>
    <script src="{{ asset('assets/js/ecommerce.js') }}"></script>
{% endblock %}